fastapi
uvicorn
google-auth
google-auth-oauthlib
google-api-python-client
google-cloud-storage
requests
python-dotenv
google-generativeai
git+https://github.com/google-agentic-commerce/AP2.git@main
stripe